# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
.venv/

# VS Code settings
.vscode/

# Windows junk
Thumbs.db
Desktop.ini

# Microsoft Word temp files
~$*
*.tmp
*.temp

# Logs
*.log
